<form action="ricercaRegista.php" method="POST" name="form">
			
  <label for="nome">Nome: </label>
  <input id="nome" name="nome" type="text" size="30"><br><br>
			
<input type="submit" value="Ricerca"><br>
</form> 
  